---
---
<a href="/" class="navbar-brand block no-underline transition duration-300 group">
  <span class="text-2xl font-bold tracking-tight text-[#152035] group-hover:text-[#0077B5] transition">
    Gospel<span class="text-[#0077B5] group-hover:text-[#152035] transition">Reads</span>
  </span>
</a>