---
---
<a href="/" class="navbar-brand block no-underline transition duration-300 group">
  <span class="text-3xl font-extrabold tracking-tight text-[#152035] group-hover:text-[#01AD9F] transition">
    Gospel<span class="text-[#01AD9F] group-hover:text-[#152035] transition">Reads</span>
  </span>
</a>
