---
import Social from "@/components/Social.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import { render } from "astro:content";

const { author } = Astro.props;
const { title, image, social } = author.data;
const { Content } = await render(author);
---

<section class="py-6">
  <div class="max-w-[1000px] px-4 mx-auto">
    <div class="mb-4 text-center">
      {
        image && (
          <div class="mb-8">
            <Image
              src={image}
              class="mx-auto"
              height={150}
              width={150}
              alt={title}
            />
          </div>
        )
      }
      <h1 set:html={markdownify(title)} class="h2 mb-8 text-center font-bold leading-10 after:mx-auto after:mt-4 after:block after:h-1 after:w-10 after:rounded-full after:bg-primary after:content-['']" />

      <Social source={social} className="social-icons-simple" />
      <div class="content">
        <Content />
      </div>
    </div>
  </div>
</section>
