/* Navbar toggler - UX Full Screen */
input#nav-toggle:checked ~ label#show-button {
  @apply hidden;
}

input#nav-toggle:checked ~ label#hide-button {
  @apply flex fixed top-8 right-4 z-[60];
}

input#nav-toggle:checked ~ #nav-menu {
  @apply fixed top-0 left-0 w-screen h-screen bg-white z-50 flex flex-col items-center justify-start pt-32 px-8 overflow-y-auto;
  display: flex !important;
}

/* Garante que o conteúdo abaixo não role quando o menu estiver aberto */
body:has(#nav-toggle:checked) {
  overflow: hidden;
}

/* Estilo do formulário no menu */
.form-input {
  @apply rounded-md border-border py-3 text-text focus:border-primary focus:ring-transparent;
}