---
import Posts from "@/components/Posts.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import taxonomyFilter from "@/lib/utils/taxonomyFilter";
import { humanize } from "@/lib/utils/textConverter";

export async function getStaticPaths() {
  const tags = await getTaxonomy("posts", "tags");
  return tags.map((tag) => ({ params: { tag } }));
}

const { tag } = Astro.params;
const posts = await getSinglePage("posts");
const filterByTag = taxonomyFilter(posts, "tags", tag);
const sortedPosts = sortByDate(filterByTag);
const title = humanize(tag || "");
---
<Base title={title}>
  <div class="py-6">
    <div class="max-w-[1000px] px-4 mx-auto">
      <p class="text-center text-2xl mb-4">Posts com a tag</p>
      <h1 class="h2 mb-16 text-center text-primary capitalize">#{title}</h1>
      {sortedPosts.length > 0 ? (
        <Posts posts={sortedPosts} fluid={false} />
      ) : (
        <p class="text-center">Nenhum post encontrado para esta tag.</p>
      )}
    </div>
  </div>
</Base>