---
import Posts from "@/components/Posts.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import LoadMore from "@/layouts/components/LoadMore.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";

const posts = await getSinglePage("posts");
const sortedPosts = sortByDate(posts);
const totalPages = Math.ceil(posts.length / config.settings.pagination);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);
---

<Base>
  <section class="py-6">
    <div class="max-w-[1000px] px-4 mx-auto">
      <div id="post-container">
        <Posts posts={currentPosts} className="mb-10" />
      </div>
      <LoadMore currentPage={1} totalPages={totalPages} />
    </div>
  </section>
</Base>
