---
import Posts from "@/components/Posts.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";

export async function getStaticPaths() {
  const posts = await getSinglePage("posts");
  const postsCount = posts.length;
  const totalPages =
    postsCount <= 7
      ? 1
      : postsCount <= 25
        ? 1 + Math.ceil((postsCount - 7) / 6)
        : 4 + Math.ceil((postsCount - 25) / 24);
  const paths = [];

  for (let i = 2; i <= totalPages; i++) {
    paths.push({
      params: {
        slug: i.toString(),
      },
    });
  }
  return paths;
}

const { slug } = Astro.params;
const posts = await getSinglePage("posts");
const sortedPosts = sortByDate(posts);
const postsCount = posts.length;
const totalPages =
  postsCount <= 7
    ? 1
    : postsCount <= 25
      ? 1 + Math.ceil((postsCount - 7) / 6)
      : 4 + Math.ceil((postsCount - 25) / 24);
const currentPage = slug && !isNaN(Number(slug)) ? Number(slug) : 1;

let startIndex, endIndex;
if (currentPage <= 4) {
  startIndex = 7 + (currentPage - 2) * 6;
  endIndex = startIndex + 6;
} else {
  startIndex = 25 + (currentPage - 5) * 24;
  endIndex = startIndex + 24;
}
const currentPosts = sortedPosts.slice(startIndex, endIndex);
---

<Base>
  <section class="py-6">
    <div class="max-w-[1000px] px-4 mx-auto">
      <div id="posts-container">
        <Posts className="mb-12" posts={currentPosts} fluid={false} />
      </div>
      <Pagination totalPages={totalPages} currentPage={currentPage} />
    </div>
  </section>
</Base>
